/* If the screen size 8is 2560px wide or less, set the following styling to certain elements */
@media screen and (max-width: 2560px) {
    .green-button {
        padding: 10px 40px;
        margin-right: 20px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
    }
    .nav-item a {
        padding: 10px 40px;
        margin: 10px;
    }

    // Modal

    .modal {
        padding: 30px 40px 30px 40px;
        border-radius: 32px;
    }

    label {
        font-size: 1rem;
    }

    input, select, textarea {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    textarea {
        margin-bottom: 20px;
        padding: 10px;
    }

    select {
        padding: 10px 2rem 10px 15px !important;
    }

    ::placeholder {
        font-size: 0.9rem;
    }

    // Kanban Feature
    #kanban {
        padding: 30px 30px 0px 30px;
    }

    // Watch Feature
    #watch {
        width: 100%;
        min-width: 120px;
        max-width: 400px;
    }

    #watch-feature {
        padding: 8px 20px;
    }

    .watch-nav {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .watch-nav span {
        font-size: 2rem;
    }

    .watch-toggle {
        font-size: 0.7rem;
        padding: 10px 20px;
        margin-right: 20px;
    }

    .time {
        font-size: 3rem;
    }

    .control {
        margin-bottom: 20px;
    }

    .icon-size { 
        font-size: 28px;
    }
}

/* If the screen size is 992px wide or less, set the following styling to certain elements */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
        margin-right: 20px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.2rem;
    }

    .green-button, .white-button {
        font-size: 0.8rem;
        padding: 10px 25px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    nav {
        padding: 40px 20px;
    }

    .nav-item a {
        padding: 10px 25px;
        margin: 10px;
        border: 2px;
    }

    // Modal
    .modal {
        padding: 20px 30px 10px 30px;
        border-radius: 20px;
    }

    label {
        font-size: 0.9rem;
    }

    input, select, textarea {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    textarea {
        margin-bottom: 10px;
    }

    select {
        padding: 10px 2rem 10px 15px !important;
    }

    ::placeholder {
        font-size: 0.8rem;
    }
}

/* If the screen size is 732px wide or less, set the following styling to certain elements */
@media screen and (max-width: 732px) {
    h1 {
        font-size: 1.4rem;
    }

    button {
        font-size: 1rem;
        margin: 0px 5px;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1rem;
    }

    .green-button, .white-button {
        font-size: 0.8rem;
        padding: 8px 15px;
        margin-right: 5px;
    }

    nav {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
    }

    .nav-item a {
        font-size: 0.8rem;
        padding: 8px 15px;
        margin: 0px 10px 0px 0px;
        border: 2px;
    }

    #add-button {
        padding: 20px 10px;
    }

    // Kanban
    #kanban {
        padding: 0px;
    }

    // Modal
    .modal {
        padding: 30px 30px 20px 30px;
        border-radius: 15px;
    }

    label {
        font-size: 0.8rem;
    }

    input, select, textarea {
        margin-top: 5px;
        font-size: 0.7rem;
    }

    textarea {
        margin-bottom: 10px;
    }

    select {
        padding: 10px 2rem 10px 15px !important;
    }

    ::placeholder {
        font-size: 0.7rem;
    }


    // Watch Feature
    #watch {
        left: 0px;
        width: 100%;
        min-width: 80px;
        max-width: fit-content;
    }

    #watch-feature {
        padding: 5px 15px;
    }

    .watch-nav {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .watch-nav span {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .watch-toggle {
        font-size: 0.5rem;
        padding: 5px 10px;
        margin-right: 5px;
    }

    .time {
        font-size: 2rem;
    }

    .control {
        margin-bottom: 10px;
    }

    .icon-size { 
        font-size: 24px;
    }
}
