#watch-feature {
    border-radius: 50px;
    cursor: pointer;
}

.feature-show {
    display: block;
}

#watch {
    position: absolute;
    display: none;
    z-index: 1000;
    border-radius: 32px;
    color: #FCFCFC;
    background-color: #4D7A7A;
    text-align: center;
    padding: 20px;
    cursor: move;
}

.watch-nav {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.watch-nav span {
    cursor: pointer;
    &:hover {
        color: #5E9797;
    }
}

.watch-toggle {
    font-weight: 700;
    border: 3px solid #FCFCFC;
    &:hover {
        color: #5E9797;
        border: 3px solid #5E9797;
        transform: translateY(-2px);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, .15);
    }
}

.watch-toggle.active {
    color: #4D7A7A;
    background-color: #FCFCFC;
    border: 3px solid #FCFCFC;
    &:hover {
        transform: none;
        cursor: default;
    }
}

#pomodoro-feature {
    display: none;
}

.time {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FCFCFC;
    padding-bottom: 10px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control button {
    border: none;
    background-color: transparent;
    color: #FCFCFC;
    margin: 0px 10px;
    &:hover {
        color:#5E9797;
    }
}
